<ul class="floats-in">
  {{!-- {{#view view.NavItemView item="navSurveys" }} --}}
    <li><a href="#">{{t "_surveys"}}</a></li>
  {{!-- {{/view}} --}}
  {{!-- {{#view view.NavItemView item="navDevices" }} --}}
	{{!-- {{#if view.showDevicesButton}} --}}
    <li><a href="#">{{t "_devices"}}</a></li>
	{{!-- {{/if}} --}}
  {{!-- {{/view}} --}}
	{{!-- {{#view view.NavItemView item="navData" }} --}}
    <li><a href="#">{{t "_data"}}</a></li>
  {{!-- {{/view}} --}}
	{{!-- {{#view view.NavItemView item="navReports" }} --}}
    <li><a href="#">{{t "_reports"}}</a></li>
  {{!-- {{/view}} --}}
  {{!-- {{#if view.showMapsButton}} --}}
  {{!-- {{#view view.NavItemView item="navMaps" }} --}}
    <li><a href="#">{{t "_maps"}}</a></li>
  {{!-- {{/view}} --}}
  {{!-- {{/if}} --}}
  {{!-- {{#if FLOW.currentUser.showUserTab }} --}}
	  {{!-- {{#view view.NavItemView item="navUsers" }} --}}
      <li><a href="#">{{t "_users"}}</a></li>
    {{!-- {{/view}} --}}
  {{!-- {{/if}} --}}
  {{!-- {{#view view.NavItemView item="navMessages" }} --}}
    <li><a href="#">{{t "_messages"}}</a></li>
  {{!-- {{/view}} --}}
  </ul>
